<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Φρεσκάδα & Αυθεντικότητα: Τα Βιολογικά Όσπρια της Οικογένειας Μπαρτζώκα</h1>
            <hr>
            <p>Aνακάλυψε τον κόσμο της φύσης στα φακές και τα φασόλια μας! Προέρχονται από τα βιολογικά χωράφια της οικογένειας Μπαρτζώκα, μια οικογενειακή επιχείρηση αφοσιωμένη στην ποιότητα και την αγνότητα.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Δες Περισσότερα</a>
        </div>
    </div>
</header>
